:root{
    --letras: rgb(47, 47, 47);
    --fundo: rgb(187, 218, 208);
    --header: rgb(137, 206, 183);
    --hover: rgb(48, 92, 79);
    --first:rgb(253, 119, 119);
    --second:rgb(233, 170, 181);
}

body {
    background-color: var(--fundo);
}

body > div.container-fluid {
    margin: 0;
    padding: 0;
}

body > div > .navbar {
    background-color: var(--header);
}

.navbar > .main > #main-nav {
    height: 200px; /* altura do botão menu, quando a tela diminuir */
}

h1 {
    color: var(--hover);
}

#navbarsite > .navbar-nav > .nav-item{ 
    font-size: 20px;
    margin: 0 0 0 20px;
}

a {   /* todos os links do site */
    text-decoration: none; /* tirar o sublinhado dos links*/
}

a:hover{
    text-decoration: none;
}

#navbarsite ul li a:hover{  /*links do nav, porém quando o mouse é passado por cima */
    color: var(--hover);
    font-size: 22px;
}

.active, #navbarsite ul li a.active{  /*link do nav que está com a classe active, ou seja, ativado */
    color: var(--hover);                      
    font-weight: 700px;
    border-bottom: 3px solid var(--hover);
    padding: 9px;
}

img{
    width: 40px;
    height: 35px;
}

.logoTitle{
    display: flex;
    align-items: center;
}

main {
    height: auto;
}

main > header > button {
    background-color: var(--second);
    border: 5px solid var(--first);  
    padding: 10px 15px;
    border-radius: 15px;
    color: var(--letras);
} 

main > header > button:hover {
    background: var(--first);
}

main > header {
    color: var(--letras);
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
}

footer{
    color: white;
    padding: 10px 0 5px 0;
    background-color: var(--hover);
    margin: 20px 0 0 0;
}

footer:hover {
    color: rgb(214, 211, 211);
}